<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Film detailts </title>
  </head>
  <body style="background-color: lightblue";>
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <form class="nav-link" action="/" method="get">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Exit</button>  
            </form>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <form class="nav-link" action="/house" method="get">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Home</button>  
            </form>
          </li>
        </ul>
      </div>
    </nav>
    <%
      auto it = context.begin();
    %>
    <div class="jumbotron">
      <p>
      <% 
        cout<<it->second;
//        it++;
      %>
      </p>
      <%
        if(it->first[0] == 'Y')
        {
      %>
      <form class="form-inline my-2 my-lg-0" action="/film_details" method="post">
        <%cout<<"<"<<"button "<<"type="<<'"'<<"submit"<<'"'<<" name="<<'"'<<"_film_id"<<'"'<<" value="<<'"'<<it->first.substr(1,it->first.size() -1) <<'"'<<" "<<"class="<<'"'<<"btn btn-success"<<'"'<<">"<<"Buy"<<"<"<<"/"<<"button"<<">";%>
      </form>
      <%
        }
      %>
    </div>
      <button button type="submit" class="btn btn-primary btn-lg btn-block">For purchase</button>    
    <%
      for(it = (++it); it != context.end(); it++)
      {
    %>
    <div class="jumbotron">
      <p>
      <% 
        cout<<it->second;
      %>
      </p>
      <form class="form-inline my-2 my-lg-0" action="/film_details" method="post">
        <%cout<<"<"<<"button "<<"type="<<'"'<<"submit"<<'"'<<" name="<<'"'<<"film_id"<<'"'<<" value="<<'"'<<it->first.substr(2,it->first[1] - '0')<<'"'<<" "<<"class="<<'"'<<"btn btn-info"<<'"'<<">"<<"details"<<"<"<<"/"<<"button"<<">";%>
      </form>
    </div>    
    <%
      }
    %>
  </body>
</html>
