<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Home</title>
  </head>
  <body style="background-color: lightblue";>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <form class="nav-link" action="/" method="get">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Exit</button>  
            </form>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <form class="nav-link" action="/profile" method="post">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Profile</button>  
            </form>
          </li>
        </ul>
        <%
          if(context["publisher"] != "")
          {
        %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <form class="nav-link" action="/add_film" method="get">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add new film</button>  
            </form>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/house" method="get">
          <input name="director" class="form-control mr-sm-2" type="search" placeholder="Director" aria-label="Search">
          <input name="name" class="form-control mr-sm-2" type="search" placeholder="Name" aria-label="Search">
          <input name="price" class="form-control mr-sm-2" type="search" placeholder="Price" aria-label="Search">         
          <button class="btn btn-primary" type="submit">Search</button>
        </form>
        <%
          }
        %>
      </div>
    </nav>    
    <%
      if(context["publisher"] != "")
      {
    %>
    <form class="form-inline my-2 my-lg-0" action="/house" method="POST">
      <button button type="submit" class="btn btn-primary btn-lg btn-block">Published films</button>
    </form>  
    <%
      }
    %> 
    <%
      auto it = context.find("publisher");
      context.erase(it);
      for( it = context.begin(); it != context.end(); it++)
      {
         if(it->first == "999")
          {
            it++;
            break;
          }
    %>          
    <div class="jumbotron">
      <p>
      <% 
        cout<<it->second;
      %>
      </p>
      <form class="form-inline my-2 my-lg-0" action="/house" method="get">
        <%cout<<"<"<<"button "<<"type="<<'"'<<"submit"<<'"'<<" name="<<'"'<<"film_id"<<'"'<<" value="<<'"'<<it->first<<'"'<<" "<<"class="<<'"'<<"btn btn-danger"<<'"'<<">"<<"Delete"<<"<"<<"/"<<"button"<<">";%>
      </form>
      <br>
      <form class="form-inline my-2 my-lg-0" action="/film_details" method="post">
        <%cout<<"<"<<"button "<<"type="<<'"'<<"submit"<<'"'<<" name="<<'"'<<"film_id"<<'"'<<" value="<<'"'<<it->first<<'"'<<" "<<"class="<<'"'<<"btn btn-info"<<'"'<<">"<<"Details"<<"<"<<"/"<<"button"<<">";%>
      </form>
    </div>    
    <%
      }
    %>
    <form class="form-inline my-2 my-lg-0" action="/house" method="POST">
      <button button type="submit" class="btn btn-primary btn-lg btn-block">For Purchase</button>
    </form>  
    <%
      for(; it != context.end(); it++)
      {
    %>          
    <div class="jumbotron">
      <p>
      <% 
        cout<<it->second;
      %>
      </p>
      <form class="form-inline my-2 my-lg-0" action="/film_details" method="post">
        <%cout<<"<"<<"button "<<"type="<<'"'<<"submit"<<'"'<<" name="<<'"'<<"film_id"<<'"'<<" value="<<'"'<<it->first.substr(2,it->first[1] - '0')<<'"'<<" "<<"class="<<'"'<<"btn btn-info"<<'"'<<">"<<"Details"<<"<"<<"/"<<"button"<<">";%>
      </form>
   </div>    
    <%
      }
    %>

  </body>
</html>
